@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_bg_color: #F3F3F4;
  --secondary_bg_color: #FCFCFC;
  --primary-text-color:#797979;
  --border-color:#DADADA;
  --button-bg-color:#FFB27D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--primary_bg_color);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-icon-style{
  @apply w-7 hover:bg-gray-200 rounded-md p-1 box-content duration-300 cursor-pointer;
}
